.spacex-logo {
    display: flex;
    width: 210px;
    height: 60px;
    border: 0px;
}

.nav-bar {
    text-decoration: none;
    background-color:#222;
    color: white;
}

.nav-bar li {
    display: flex;
    align-content: right;
    display: inline;
}

.carosuel-inner {
    position: relative;
    width: 100%;
    size: 100%;
}

.carosuel-caption p{
    font-size: 30pt;
}

.carousel-caption h3 {
    font-size: 50pt;
}

#myCarousel .item {
    size: 50px;
}

.dragon-video {
    top: 50%;
    left: 50%;
    width: 101%;
    max-width: 2000px;
    height: auto;
}

.footer {
    background-color:#222;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: flex-end;
    justify-content: right;
    font-size: 14pt;
}

body {
    font-family: 'Brandon Grotesque','brandon-grotesque',Helvetica,sans-serif;
}

.video-container {
    position: relative;
}

video {
    height: auto;
    vertical-align: middle;
    width: 100%;
}

.overlay-desc {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

h1 { 
    color: white;
    font-family: 'Brandon Grotesque','brandon-grotesque',Helvetica,sans-serif;
    font-size: 9vw;
    text-align: center;
}
